<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
     <menu>
         <add id="Agnese_ProductBadges::home" title="Badges" module="Agnese_ProductBadges" parent="Magento_Catalog::catalog_categories" resource="Magento_Catalog::catalog_categories" action="badges_grid/index/index"/>
     </menu>
</config>
