<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magently_tutorial"
             translate="label"
             sortOrder="1000">
            <label>Magently Tutorial</label>
        </tab>
        <section id="magently_tutorial_test"
                 translate="label"
                 type="text"
                 sortOrder="1"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Source models</label>
            <tab>magently_tutorial</tab>
            <resource>Magently_Tutorial::config</resource>
            <group id="test"
                   translate="label"
                   type="text"
                   sortOrder="1"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Source model test</label>
                <field id="yesno_source_model"
                       translate="label"
                       type="select"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Yes/no source model</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="badges"
                       translate="label"
                       type="select"
                       sortOrder="2"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Badges source model</label>
                    <source_model>Agnese\ProductsBadges\Model\Config\Source\Custom</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
